<!-- app/views/likes/index.html.erb -->
<h1>Your Books</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>body</th>
    </tr>
  </thead>
  <tbody>
    <% @likes.each do |like| %>
      <tr>
        <td><%= like.book.title %></td>
        <td><%= like.book.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>
