<div class="container mt-4 mx-auto">
    <div class="row">
      <div class="col-lg-8">
	  	<br>
        <h1>積み滅ぼしへ、ようこそ</h1>
		<br>
        <p>積み滅ぼしは積み本がたまることを解決したい読書習慣を作りたい人向けの読書管理アプリです。</p>
		<p>これは、アプリの利用に応じてユーザーのレベルがUPすることによって、既存の読書管理アプリとは違って読書記録の継続や読書の習慣化を実現できます。</p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-8">
        <h2>本を記録しよう</h2>
        <p>あなたが今までに出会った本を記録に残し、好きな時に振り替えりましょう！</p>
        <% if user_signed_in? %>
          <%= link_to "本棚を見る", books_path, class: "btn btn-primary mx-auto" %>
        <% else %>
          <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary mx-auto" %>
        <% end %>
      </div>
    </div>
  </div>
<footer class="bg-dark text-light text-center py-1 fixed-bottom">
	<div class="container">
	<p>&copy; 2023 Tsumihoroboshi.</p>
	</div>
</footer>
