<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-6">
            <div class="p-3 bg-white text-center">
              <div class="container mt-4 mx-auto">
                    <br>
                      <h1>あなたが積んだ本</h1><h1>管理してみませんか？</h1>
                  <hr><br>
                      <h5>積み滅ぼしは積み本がたまることを解決したい</h5><h5>読書習慣を作りたい人向けの読書管理アプリです。</h5>
                  <br><br>
                      <div style="max-width: 100%; height: auto;">
                      <%= image_tag('tsumisample1.jpg', alt: '', class:"img-fluid" ) %>
                      </div>
                  <br><br>
                  <h5>アプリの利用に応じてユーザーのレベルがUPすることによって</h5><h5>既存の読書管理アプリとは違って</h5><h5>読書記録の継続や読書の習慣化を実現できます。</h5>
                  <br><hr>
                      <h2>本を記録しよう</h2>
                  <hr><br>
                      <h5>あなたが今までに出会った本を記録に残し</h5><h5>好きな時に振り返りましょう！</h5>
                      <br><br>
                      <div style="max-width: 100%; height: auto;">
                        <%= image_tag('tsumisample2.jpg', alt: '', class:"img-fluid" ) %>
                      </div>
                      <br><hr><br><br>
                      <% if user_signed_in? %>
                        <%= link_to "本棚を見る", books_path, class: "btn btn-primary btn-lg" %>
                      <% else %>
                        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary btn-lg" %>
                      <% end %>
                  <br><br><br><br><br><br><br>
                </div>
              </div>
            </div>
          </div>
        </div>              
<footer class="bg-light text-light text-center py-3 fixed-bottom">
	<div class="container">
      <div class="text-muted">
        Tsumihoroboshi created by Tsumibukaihitotachi.
      </div>
	</div>
</footer>
