/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";
 @import "simple_calendar";

 div.profiler-results {
    display: none;
}

.user-experience {
    padding: 20px;
    color: #000000;
}

.level-bar {
    height: 20px;
    width: 100%;
    /* バーの横幅を指定します */
    background-color: #e0e0e0;
    /* グレーのバー */
    border-radius: 5px;
    overflow: hidden;
}

.level-progress {
    height: 100%;
    background-color: #0000ff;
    /* 青色のプログレスバー */
    border-radius: 5px;
}
.calender{
    width: 50%;
    display: flex;
    justify-content: start;
}

.open {
	cursor:pointer; /* マウスオーバーでカーソルの形状を変えることで、クリックできる要素だとわかりやすいように */
}
#pop-up {
	display: none; /* label でコントロールするので input は非表示に */
}
.overlay {
	display: none; /* input にチェックが入るまでは非表示に */
}
#pop-up:checked + .overlay {
	display: block;
	z-index: 9999;
	background-color: #00000070;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}
.window {
	width: 500vw;
	max-width: 500px;
	height: 400px;
	background-color: #ffffff;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.text {
	font-size: 18px;
	margin: 0;
}
.close {
	cursor:pointer;
	position: absolute;
	top: 4px;
	right: 4px;
	font-size: 20px;
.no-link-style {
    text-decoration: none;
    color: inherit;
    /* This will inherit the color from its parent element (black by default) */
}