// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.block{
    width: 901px;
height: 748px;
flex-shrink: 0;
}


.title{
    display: flex;
    width: 900px;
    height: 112.842px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.body{
    display: flex;
width: 900px;
height: 90px;
justify-content: center;
align-items: center;
flex-shrink: 0;
}
img{
    width: auto;
height: 200px;
flex-shrink: 0;
}